.edit-chart-wrapper .toolbar {
  padding: 0.5rem;
  margin: 10px;
  border: 1px solid #aaa;
}

.edit-chart-wrapper .toolbar ul {
  display: inline-block;
  vertical-align: text-top;
  margin: 0;
}

.edit-chart-wrapper button:first-of-type {
  margin-left: 2rem;
}

.edit-chart-wrapper button {
  margin-right: 0.5rem;
  box-sizing: border-box;
  padding: 6px 12px;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
}

.edit-chart-wrapper button[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.3;
}

.edit-chart-wrapper button:hover,
.edit-chart-wrapper button:focus,
.edit-chart-wrapper button:active {
  color: #5cb85c;
  background-color: #fff;
}
